#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh "$@" --buildsystem=cmake

override_dh_auto_build:
	txt2man -t DB_UPDATE -s 1 doc/db_update.txt > db_update.1
	dh_auto_build
